body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
  }
  
  h1 {
    color: #A4D3EE
  }
  
  span {
    color: #4A708B
  }
  